.card{
	width:80%;
	height:auto;
	border-radius: 10px;
	border-style:solid;
	border-width:1px;
	border-color:#ddd;
	margin-left:10%;
	margin-top:7%;
	float:left;
}

.card-header{
	color: #337ab7 !important;
	background-color: #cbebf6 !important;
}


