		#att{
			width: 300px;
			float:left;
			height: 300px;
			/*margin-left: auto;
			margin-right: 10px;*/
		}

		#in-out-entry{
			width: 300px;
			height:300px;
			float:left;
			/*margin-left: 400px;*/
		}

		.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
			z-index: 2;
    		color:#fff  !important;
			background-color: #777 !important;
    		border-color: #777 !important; 
		}

		.badge {
		    display: inline-block;
		    min-width: 10px;
		    padding: 3px 7px;
		    font-size: 12px;
		    font-weight: 700;
		    line-height: 1;
		    color: #777 !important;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: baseline;
		    background-color: #cbebf6 !important;
		    border-radius:10px;
		}

		#complains{
			border-radius: 10px;
			border-style:solid;
			border-width:1px;
			border-color:#ddd; 
		}

